html {
    background-image: linear-gradient(#FFFFFF, #B9B9B9);
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    background-image: linear-gradient(#FFFFFF, #B9B9B9);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.2rem;
}


h1 {
    font-size: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    margin-top: 100px;
    margin-bottom: 100px;

}

h2 {
    font-size: 2.85rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}

p {
    margin-top: 0.5rem;
    line-height: 1.8rem;
}

footer {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    min-height: 600px;
    max-width: 100%;
    display: flex;
    align-items: center;
    background-image: url(../images/header.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: bottom;
    margin-bottom: 50px;
}

.header-box-1 {
    flex: 2;
    padding: 200px 80px 0 80px;
}

.header-box-2 p {
    padding-top: 20px;
}


.statement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.quote {
    padding-top: 50px;
    font-size: 1rem;
}


.cast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cast h1 {
    display: inline-block;
}

.cast-img-dog {
    filter: grayscale(100%);
    background-image: url(../images/head-shots/dog.jpg);
    background-size: cover;
    background-position: top;
    min-height: 400px;
    width: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    margin-top: 20px;
}

.cast-img-stoic {
    filter: grayscale(100%);
    background-image: url(../images/head-shots/stoic.JPG);
    background-size: cover;
    background-position: top;
    min-height: 400px;
    width: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    margin-top: 20px;
}

.cast-img-trouble {
    filter: grayscale(100%);
    background-image: url(../images/head-shots/trouble.JPG);
    background-size: cover;
    background-position: top;
    min-height: 400px;
    width: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    margin-top: 20px;
}

.cast-img-passionate {
    filter: grayscale(100%);
    background-image: url(../images/head-shots/passionate.JPG);
    background-size: cover;
    background-position: top;
    min-height: 400px;
    width: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    margin-top: 20px;
}

.cast-img-gental {
    filter: grayscale(100%);
    background-image: url(../images/head-shots/gental.JPG);
    background-size: cover;
    background-position: top;
    min-height: 400px;
    width: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    margin-top: 20px;
}

.cast-img-drivingforce {
    filter: grayscale(100%);
    background-image: url(../images/head-shots/drivingforce.JPG);
    background-size: cover;
    background-position: top;
    min-height: 400px;
    width: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    margin-top: 20px;
}

.cast-1, .cast-2, .cast-3, .cast-4, .cast-5, .cast-6 {
    width: 30%;
}

.cast-1 p, .cast-2 p, .cast-3 p, .cast-4 p, .cast-5 p, .cast-6 p {
    padding-top: 20px;
}

.sect-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-1 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-2 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-2-img {
    flex: 1;
    background-image: url(../images/body-images/2_head_shot_123123.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-3 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}


.sect-4 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-4-img {
    flex: 1;
    background-image: url(../images/body-images/4_DSC_0146.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-5 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-6 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-6 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-7 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-7 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-8 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-8 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-9 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-9-img {
    flex: 1;
    background-image: url(../images/body-images/9_DSC_0062.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-10 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-10-img {
    flex: 1;
    background-image: url(../images/body-images/10_brushing_hair.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-11 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-11 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-12 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-12-img {
    flex: 1;
    background-image: url(../images/body-images/12_dog.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-13 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-13 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-14 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-14-img {
    flex: 1;
    background-image: url(../images/body-images/14_DSC_0025.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-15 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-15 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-16 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-16-img {
    flex: 1;
    background-image: url(../images/body-images/16_DSC_0056.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-17 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-17 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-18 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-18 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-19 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-19 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-20 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-20-img {
    flex: 1;
    background-image: url(../images/body-images/20_G_Day_Port_11524.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-21 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-21 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-22 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-22 img {
    margin-left: 256px;
    width: 512px;
    height: 768px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

.sect-23 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-23-img {
    flex: 1;
    background-image: url(../images/body-images/23_DSC_0125.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-24 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-24-img {
    flex: 1;
    background-image: url(../images/body-images/24_DSC_0119.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-25 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-25-img {
    flex: 1;
    background-image: url(../images/body-images/25_DSC_0123.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-26 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-26-img {
    flex: 1;
    background-image: url(../images/body-images/26_DSC_0108.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-27 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-27-img {
    flex: 1;
    background-image: url(../images/body-images/27_Ely_s_Peak_Hike_12024.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}

.sect-28 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sect-28-img {
    flex: 1;
    background-image: url(../images/body-images/28_Walking_to_the_Peak_12024.JPG);
    max-width: 100%;
    height: 683px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    background-size: cover;
    background-position: top;
}


@media (max-width: 600px) {
    .container {
        width: 400px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .statement{
        padding-left: 20px;
        padding-right: 20px;
    }

}

